.App {
  text-align: center;
  font-size: 1.6rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form{
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

form label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

form label input{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
}

form label input[name="name"]{
  width: 100px;
}

button{
  background-color: white;
  color: #027DFE;
  height: 30px;
  width: 100px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  align-self: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button:hover{
  color: white;
  background-color: #027DFE;
}